html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
  }
}
